.container {
  padding-top: 30px;
}

.card {
  text-align: center;
}

.disable-links {
  pointer-events: none;
}

.hide {
  visibility: hidden !important;
}

.show {
  visibility: visible !important;
}
